<div class="container">
<div class="row">
<div class="col-md-3">
<%= render 'users/userinfo', user: @user %>
<%= render 'books/form', book: @book %>
</div>

<!--ユーザー一覧-->
  <div class="col-md-8 offset-md-1">
    <h3>Users</h3>
  <table class="table table-striped">
    <thead>
      <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th colspan="3"></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= user.name %></td>
      <td><%= link_to user_path(user.id) do%>Show<%end%></td>
    </tbody>
    <%end%>
  </table>
  </div>
</div>
</div>