<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<!-- ユーザーの投稿一覧 -->
<table class="table table-striped">
<thead>
<th>Book detail</th>
</thead>

<tbody>
<% @books.each do |book| %>
<%= link_to book_path(book.id) do %>
<% end %>

  <td><%= image_tag book.user.get_profile_image(100,100) %></td>
  <td>ショップ名：<%= book.title %></td>
  <td>説明：<%= book.body %></td>
  <td>ユーザーネーム：<%= book.user.name %></td>
   <% if @user == current_user.id %>
  <td><%= link_to "Edit", edit_book_path(@book) %></td>
  <td><%= link_to "Delete", book_path(@book), method: :delete %></td>
   <%end%>
<% end %>
 </tbody>
</table>