<!--サイドバー-->
<div class="container">
<div class="row">
<div class="col-lg-3">

<!--ユーザー情報-->
<%= form_with model: Book.new do |f| %>
    <h3>User info</h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <p class="border-top">name　&emsp;&emsp;<%= @user.name %></p>
    <p class="border-top">introduction　&emsp;&emsp;<%= @user.introduction %></p>

    <%= link_to edit_user_path(@user) do %>
    <button type="button" class="btn btn-outline-secondary btn-block">
    <i class="fas fa-user-cog"></i></button>
    <%end%>

<!--投稿フォーム-->
    <h3>New Bbok</h3>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opnion</p>
    <%= f.text_area :body %>
    <p><%= f.submit 'Create Book', class:"btn btn-success btn-sm"%></p>

<% end %>
</div>
<!--ここまでサイドバー-->
