<h1>Bookers2index</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% @books.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
    <% end %>
    <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
    <p>ショップ名：<%= book.title %></p>
    <p>説明：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>