<!--サイドバー-->

<div class="container">
<div class="row">
<div class="col-lg-4">
<!--エラーメッセージ-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--ユーザー情報-->
<%= form_with model: @user, url: user_session_path do |f| %>
<%= @user.name %>
<%end%>
<!--投稿フォーム-->
    <%= form_with model: Book.new do |f| %>
    <h3>New Bbok</h3>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opnion</p>
    <%= f.text_area :body %>
    <p><%= f.submit 'Create Book', class:"btn btn-success btn-sm"%></p>

<% end %>
</div>
<!--ここまでサイドバー-->

<!--投稿一覧-->

<% @books.each do |book| %>
  <div class="col-lg-8">
  <table class="table table-striped">
    <thead>
      <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <td><%= link_to user_path(book.user_id) do %>
      <%= image_tag book.user.get_profile_image(100,100) %>
      <% end %></td>

      <td><%= link_to book_path(book.id) do %>
      <p><%= book.title %></p>
      <% end %></td>

      <td><p><%= book.body %></p></td>
      <% end %>
    </tbody>
</table>
</div>

</div>
</div>